<mat-card class="example-card">

    <mat-card-header>

    </mat-card-header>

    <div class="img">

    <img mat-card-image src="https://cdn-img.prettylittlething.com/d/8/4/e/d84e609962c532e472cc8f460b28d5640869a12c_CLU4305_3.JPG" alt="Photo of a Shiba Inu">  

  </div>

    <mat-card-content>

      <h2>{{name}}</h2>

      <p>{{priceAfterDiscount}}</p>

      <p>price befor: {{priceBeforDiscount}}</p>

    </mat-card-content>

    <mat-card-actions>

      <button mat-button>ADD To Cart</button>

      <button mat-button >info</button>

    </mat-card-actions>

  </mat-card>