<h2 mat-dialog-title>Size Guide</h2>
<mat-dialog-content class="mat-typography">
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table myaccordion table-hover">
						  <thead>
						    <tr>
						      <th>Size</th>
						      <th>UK</th>
						      <th>Length</th>
						      <th>Bust</th>
						      <th>Waist Size</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
						      <th scope="row">XS</th>
						      <td>6</td>
						      <td>141</td>
						      <td>82</td>
						      <td>66</td>
						    </tr>

						    <tr data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
						      <th scope="row">S</th>
						      <td>8</td>
						      <td>142</td>
						      <td>86</td>
						      <td>70</td>

						    </tr>


						    <tr data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
						      <th scope="row">M</th>
						      <td>10</td>
						      <td>143</td>
						      <td>90</td>
						      <td>74</td>
							</tr>


						    <tr data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
						      <th scope="row">L</th>
						      <td>12/14</td>
						      <td>144</td>
						      <td>96</td>
						      <td>80</td>

						    </tr>
						    <tr data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
								<th scope="row">XL</th>
								<td>16</td>
								<td>145</td>
								<td>102</td>
								<td>86</td>
  
							  </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
    <p class="text-muted">*This data was obtained from manually measuring the product, it may be off by 1-2 CM</p>
    <hr class="space">
    <div class="row">
<div class="col-xl-6">

    <div class="instr">
        <h4><b>1</b> - Shoulder</h4>
    <p> Measure from where the shoulder seam meets the sleeve on one side to another side.</p>
    
    <h4><b>2</b> - Bust</h4>
    <p>Measure from the stitches below the armpits on one side to another.</p>
    
    <h4><b>3</b> - Waist</h4>
    <p>Measure straight across the narrowest waist line from edge to edge.</p>
    
    <h4><b>4</b> - Hips</h4>
    <p>Measure straight across the widest hip line from edge to edge.</p>
    
    <h4><b>5</b> - Length</h4>
    <p>Measure from where the shoulder seam meets the collar to the hem.</p>
    
    <h4><b>6</b> - Sleeves</h4>
    <p>Measure from where the shoulder seam meets armhole to the cuff.</p>
    </div>
</div>
<div class="col-xl-6">
    <img id="size" src="../../../../assets/img/size.png" alt="" height="500" width="400">
</div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn">ok</button>
</mat-dialog-actions>
