example-card {

  max-width: 400px;

  margin-bottom: 20px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;

 }

.mat-card-image{

  width: 276.750px;

  height: 368.312px;

}

.img{

  display: flex;

  justify-content: center;

}

.example-header-image {

  background-size: cover;

}

.example-spacer {

  flex: 1 1 auto;

}

.container {

  width: 98%;

  margin: 0 auto;

  margin-top: 40px;

  }

  .cards {

  display: flex;

  flex-direction: row;

  justify-content: space-evenly;

  flex-wrap: wrap;

  }

  h2{
    text-align: center;
  }