 <!-- <div class="review_item"> 
    <div class="media">
        <div class="d-flex">
             <img src="../../../../assets/img/product-img/review-1.png" alt=""> 
        </div>
        <div class="media-body">
             <h4>{{user.name}}</h4>  

        </div>
    </div>
    <p>{{reviewText}}</p>
</div>  -->



<div class="main-container">
 
    <div class="cards">
  
      
      <div class="card card-4">
        
        <h2 class="card__title">{{user.name}}</h2>
        <p>{{reviewText}}</p>
      </div>
      
    </div>
  </div>