
    <div class="row">
        <div class="col-xl-1 col-sm-1 col-md-1 col-lg-1 col-1 center text-center"><a (click)=reomve()><span id="remove" class="ion-ios-close"></span></a></div>
        <div  class="col-xl-1 col-sm-1 col-md-1 col-lg-1 col-1 center img">
           
                <img src="{{imageName}}" class="img" alt="">
        </div>
        <div class="col-xl-4 col-sm-4 col-md-4 col-lg-4 col-4  center">        
            <h3>{{name}}</h3>
            <p>{{color}}<br>
                {{size}}</p>
        </div>
        <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2  col-2  center">{{price}} JD</div>
        <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2  col-2  center">{{quantity}}</div>
        <div class="col-xl-2  col-sm-2 col-md-2 col-lg-2  col-2  center">{{total}} JD</div>
        </div>

