
<mat-card class="example-card" style="margin: 20px;">

    <mat-card-header>
  
    </mat-card-header>
  
    <div class="img">
  
    <img mat-card-image src="../../../assets/img/employee.png" alt="Photo of a Shiba Inu">  
  
  </div>
  

    <mat-card-content>
  
      <h2>{{name | uppercase}}</h2>

  
    </mat-card-content>
  
    <mat-card-actions>
  
     
      <button class="genric-btn success circle" (click)="openEdit()" mat-button  style="background-color: #24B3A8;">Edit</button>
      <button class="genric-btn success circle" (click)="delete()" mat-button  style="background-color: #24B3A8; ">Delete</button>

  
    </mat-card-actions>
  
  </mat-card>